@charset "utf-8";

/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,header,footer,menu{ margin:0; padding:0; vertical-align:middle; font:inherit; -webkit-text-size-adjust:none;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:100%;}
address,caption,cite,code,dfn,em,th,var { font-weight:normal; font-style:normal;} 
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
input,textarea,select{ font-family:Helvetica, Roboto, Verdana, Geneva, Arial, sans-serif; font-size:12px;}
caption,th{ text-align:left;}
q:before, q:after{ content:'';}
ul,ol,dl{ list-style:none;}

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */


/* CSS Document */
body{ background:#f7f6f6; font-family:Helvetica, Roboto, Verdana, Geneva, Arial, sans-serif; font-size:15px; color:#666; line-height:1.5;}
a{ text-decoration:none; color:#ca532b;}

.floatl{ float:left}
.floatr{ float:right}
.font_underline{ text-decoration:underline}

/*  公用头部  */
.main_nav{  background:url(../images/nav_bg.gif) repeat-x; width:100%; height:44px;-webkit-background-size:auto 44px;-moz-background-size:auto 44px;-ms-background-size:auto 44px;background-size:auto 44px;}
.main_nav .bg_nav{background:url(../images/head.jpg) no-repeat; width:100%; position:relative; overflow:hidden; z-index:1; height:43px;;-webkit-background-size:auto 43px;-moz-background-size:auto 43px;-ms-background-size:auto 43px;background-size:auto 43px;}

.main_nav .home{ display:block; width:25px; height:25px; position:absolute; left:5px; top:10px;}
.main_nav .back{ display:block; width:25px; height:25px; position:absolute; left:38px; top:10px;}


/* 首页 */

/*  轮播  */
.slideBox{ position:relative; overflow:hidden; margin:0 auto; width:100%; z-index:1}
.slideBox .hd{ position:absolute; height:14px; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:8px; height:8px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; background:#fff; text-indent:-9999px; overflow:hidden; margin:0 3px;   }
.slideBox .hd li.on{ background:#cd0b0b;-webkit-box-shadow: 0 0 5px #cd0b0b;width:10px; height:10px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */


/*  内容  */
.content{background:#f7f6f6; margin:0 auto; padding-left:5px; padding-right:5px; padding-bottom:50px}

/*  产品推荐  */
.product{text-align:center; width:100%}
.product div{ display:block; text-align:center; width:100%; }
.product a{ display:block; width:50%;color:#666; font-size:16px;margin-bottom:1px;height:120px;line-height:10;}
.product .rzdb{ background:url(../images/rzdb.png) no-repeat #fff center 20px;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}
.product .qdz{ background:url(../images/qdz.png) no-repeat #fff center 20px;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}
.product .tzym{ background:url(../images/tzym.png) no-repeat #fff center 20px;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}
.product .xedk{ background:url(../images/xedk.png) no-repeat #fff center 20px;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}
.product .sjyw{ background:url(../images/sjyw.png) no-repeat #fff center 20px;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}
.product .khdlr{ background:url(../images/khdlr.png) no-repeat #fff center 20px;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}

/*  标签  */
.tab{ background:#000; height:44px;text-align:center; position:fixed; width:100%; bottom:0; left:0}
.tab li{width:25%;font-size:12px; float:left}
.tab a{color:#fff; display:block; width:100%; height:17px; padding-top:27px}

.tab .cptj{background:url(../images/icon_tab_cptj.png) no-repeat center 5px;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .on .cptj,.tab .cptj:hover{background:url(../images/icon_tab_cptj_h.png) no-repeat center 5px; color:#ee4848;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .zxsq{background:url(../images/icon_tab_zxsq.png) no-repeat center 5px;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .on .zxsq,.tab .zxsq:hover{background:url(../images/icon_tab_zxsq_h.png) no-repeat center 5px; color:#ee4848;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .ppsl{background:url(../images/icon_tab_ppsl.png) no-repeat center 5px;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .on .ppsl,.tab .ppsl:hover{background:url(../images/icon_tab_ppsl_h.png) no-repeat center 5px; color:#ee4848;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .gd{background:url(../images/icon_tab_gd.png) no-repeat center 5px;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}
.tab .on .gd,.tab .gd:hover{background:url(../images/icon_tab_gd_h.png) no-repeat center 5px; color:#ee4848;-webkit-background-size:auto 24px;-moz-background-size:auto 24px;-ms-background-size:auto 24px;background-size:auto 24px;}

/* 融资担保 */
.nav{ position:fixed; width:100%; top:0; left:0; z-index:3}

/* 二级导航 */
.sub_nav{ height:32px; background:url(../images/subnav_bg.gif) repeat-x; text-align:center; line-height:2; z-index:2;-webkit-background-size:auto 32px;-moz-background-size:auto 32px;-ms-background-size:auto 32px;background-size:auto 32px;}
.sub_nav span,.sub_nav a{ color:#666; font-size:12px; display:inline-block; padding:0 5px; cursor: pointer}
.sub_nav .on{ color:#cd0b0b; font-size:15px}

/*  三级导航  */
.third_nav{ text-align:center; background:#f7f6f6; z-index:1; padding:5px 0}
.third_nav span{display:inline-block; padding:0 7px; line-height:19px; font-size:12px; color:#FFF; text-shadow:1px 1px 0 rgba(0,0,0,0.4); height:19px; background:#666; border:none; border-bottom:1px solid #555; border-top:1px solid #444; border-radius :5px; margin:0 2px}
.third_nav .on{background:#cd0b0b;border-bottom:1px solid #cd0b0b; border-top:1px solid #cd0b0b;}

/* 产品详情 */
.product_details{ background:url(../images/shadow.gif) repeat-x bottom; padding-bottom:40px; text-align:center; }
.product_details h2{ color:#333;padding:5px 0; font-weight:bold}
.product_details h2 img{ display:inline; width:25px; height:30px; vertical-align:bottom}
.product_details h3{ color:#111;background:url(../images/icon_rectangle.gif) no-repeat left 5px; padding-left:16px; text-align:left; margin:15px auto 9px auto; clear:both;-webkit-background-size:auto 10px;-moz-background-size:auto 10px;-ms-background-size:auto 10px;background-size:auto 10px;}
.product_details p{ text-align:center; text-indent:2em;text-align:left}
.product_details li{ text-align:left}
.product_details li span{ background:url(../images/icon_circle.gif) no-repeat 0px 0px; width:13px; height:13px; line-height:13px; color:#fff; font-size:9px; display:inline-block; text-align:center; vertical-align:text-top; margin-right:5px;-webkit-background-size:auto 13px;-moz-background-size:auto 13px;-ms-background-size:auto 13px;background-size:auto 13px; margin-top:2px}
.product_details .img_liucheng{ width:320px; height:auto}

.btn_submit{width:170px; height:40px; line-height:40px; display:block; background:url(../images/btn_submit.png) no-repeat; color:#fff; margin-top:10px; font-size:24px; margin:5px auto; text-align:center;-webkit-background-size:auto 40px;-moz-background-size:auto 40px;-ms-background-size:auto 40px;background-size:auto 40px;}

.tips{color:#ca532b; font-size:12px; padding-bottom:10px; display:inline-block}
.font_important{color:#ca532b;font-weight:bold; font-size:18px; font-style:italic;}

.product_details_nobg{ background: none}
/*  在线申请  */
.submit_details{ text-align: left; display: inline-block}
.submit_details div{ padding:5px 0; clear:both; line-height:30px}
.submit_details .form_title{text-align:right; display:block; padding-right:5px; float:left; width:115px; height:30px; font-size:14px}
.submit_details .form_text{ border:#ccc 1px solid; width:165px; padding:5px 2px; height:20px; color:#a2a2a2; vertical-align:text-bottom; font-size:12px}
.submit_details .form_disabled{ border:#ccc 1px solid; width:165px; padding:5px 2px; height:20px;  vertical-align:text-bottom; font-size:12px; background:#d7d7d7; color:#333}
.submit_details select{border:#ccc 1px solid; width:170px;height:30px; color:#333; vertical-align:text-bottom; font-size:12px; background:#fff}
.submit_details .form_content{ padding-right:5px; padding-top:2px}
.submit_details .form_other{ margin-left:120px; display: block}
/*  申请成功  */
.submit_success{ background:url(../images/icon_submit.gif) no-repeat 50% 25px; padding:100px 15px 10px 15px; text-align:center;-webkit-background-size:107px auto;-moz-background-size:107px auto;-ms-background-size:107px auto;background-size:107px auto;}


/*  品牌实力  */
.ppsl_details{ padding-bottom:50px}
.ppsl_details p{text-align:center; text-indent:2em;text-align:left; padding:10px 5px}
.ppsl_ps{ text-align:left; padding:20px 0}
.ppsl_details img{width:100%}
/*  常见问题  */
.question{ text-align:left}
.question dt .icon_question{ background:url(../images/icon_question.png) no-repeat right top; display:inline-block; width:15px; height:14px; margin-left:2px;-webkit-background-size:auto 14px;-moz-background-size:auto 14px;-ms-background-size:auto 14px;background-size:auto 14px;}
.question dd{ padding-bottom:10px}

/*  钱袋子  */
.qdz_content img{ width:100%; margin:10px auto; display:block; height:auto; max-width:device-width}

















